@model PCstore.Web.Models.IndexViewModel
@{
    ViewData["Title"] = "Manage";
}

<h3 align="center">@ViewData["Title"]</h3>


<div>
    <div class="row">
        <div class="col-md-6">
            <h4 align="center">Change your account settings</h4>

            <p class="text-success">@ViewBag.StatusMessage</p>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    @if (Model.HasPassword)
                    {
                        <input type="button" value="Change your password" class="btn btn-warning"
                               onclick="window.location.href='@Url.Action("ChangePassword", "Manage")'" />
                    }
                    else
                    {
                        <input type="button" value="Create" class="btn btn-warning"
                               onclick="window.location.href='@Url.Action("SetPassword", "Manage")'" />
                    }
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <h4 align="center">Create advertisement</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Advertisement for:</dt>
                <dd>
                    <input type="button" value="Computer" class="btn btn-primary"
                           onclick="window.location.href='@Url.Action("AddComputer", "Device")'" />
                    <input type="button" value="Laptop" class="btn btn-success"
                           onclick="window.location.href='@Url.Action("AddLaptop", "Device")'" />
                    <input type="button" value="Display" class="btn btn-info"
                           onclick="window.location.href='@Url.Action("AddDisplay", "Device")'" />
                </dd>
            </dl>



        </div>
    </div>


    <hr />

    <h4 align="center">See all your advertisements</h4>

</div>

