@using PagedList.Mvc;
@using PagedList;

@model IPagedList<IDeviceViewModel>

<h3 align="center">@ViewData["Title"]</h3>

@Styles.Render("~/Content/advertisement")
@Styles.Render("~/Content/manage")


<div class="container">

    <div class="row">
        <div class="col-md-6">
            @Html.Partial("_ChangePasswordPartial")
        </div>
        <div class="col-md-6">
            @Html.Partial("_CreateAdvertisementPartial")
        </div>
    </div>

    <hr />

    @Html.Partial("_DevicesPartial", Model)

</div>

@if (Model.Count > 0)
{
    <div align="center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

    @section scripts {
        <script>            
            $(".btn-danger").on('click', (event) => {
                let el = $(event.target);
                el.parent().parent().remove();
            });
        </script>
    }
}