<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div style="text-align:center">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-left"><img id="logo" src="~/Images/title.png"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/store/about">About</a></li>
                        <li><a href="/store/contact">Contact</a></li>
                        <li><a href="/device/computers">Computers</a></li>
                        <li><a href="/device/laptops">Laptops</a></li>
                        <li><a href="/device/displays">Displays</a></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>
                <a href="https://github.com/niksmanov/PC-Store" target="_blank">
                    <strong>ASP.NET MVC Project</strong>
                </a>
            </p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
