@model ComputerViewModel

<h3 align="center">@ViewData["Title"]</h3>

<div class="row">
    @using (Html.BeginForm("AddComputer", "Device", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Add new computer advertisement</h4>
        <hr />

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.CPU, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.CPU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CPU, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.CpuSpeed, "CPU Speed", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.CpuSpeed, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.CpuSpeed, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.RAM, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.RAM, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RAM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.RamType, "Ram Type", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.RamType, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.RamType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.HDD, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.HDD, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.HDD, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.GPU, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.GPU, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.GPU, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.GpuMemory, "GPU Memory", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.GpuMemory, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.GpuMemory, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.OpticalDevice, "Optical Device", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.OpticalDevice, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OpticalDevice, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.OperatingSystem, "Operating System", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.OperatingSystem, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.OperatingSystem, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Price, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.SellerPhone, "Seller Phone", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.SellerPhone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.SellerPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.Description, "Description", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-10">
                <input type="submit" class="btn btn-primary" value="@ViewData["Title"]" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}