@model DeviceViewModel

<h3 align="center">@ViewData["Title"]</h3>


@foreach (var computer in Model.Computers)
{
    <data>@computer.CPU</data>
    <data>@computer.CpuSpeed</data>
    <data>@computer.RAM</data>
    <data>@computer.RamType</data>
    <data>@computer.HDD</data>
    <data>@computer.GPU</data>
    <data>@computer.GpuMemory</data>
    <data>@computer.OpticalDevice</data>
    <data>@computer.OperatingSystem</data>
    <data>@computer.Price</data>
    <data>@computer.SellerPhone</data>
    <data>@computer.SellerEmail</data>
    <data>@computer.Description</data>
    <data>@computer.PostedOn</data>
    <hr />
}
