@using PagedList.Mvc;
@using PagedList;

@model IPagedList<LaptopViewModel>

@Styles.Render("~/Content/advertisement")

<h3 align="center">@ViewData["Title"]</h3>

<div class="container">

    @foreach (var laptop in Model)
    {
        <div class="row">
            <a class="list-group-item clearfix" href="@Url.Action("Laptop", "Device",  new { laptop.Id }, null)">
                <div class="col-md-3">
                    <img class="media-object" src="~/Images/image7.png" width="120">
                </div>
                <div class="col-md-3">
                    <p><strong>Display: </strong>@laptop.DisplaySize "</p>
                    <p><strong>CPU: </strong>@laptop.CPU</p>
                    <p><strong>CPU Speed: </strong>@laptop.CpuSpeed Ghz</p>
                </div>
                <div class="col-md-3">
                    <p><strong>RAM: </strong>@laptop.RAM GB</p>
                    <p><strong>HDD: </strong>@laptop.HDD GB</p>
                    <p><strong>GPU: </strong>@laptop.GPU</p>
                </div>
                <div class="col-md-3">
                    <p><strong>GPU Memory: </strong>@laptop.GpuMemory GB</p>
                    <p><strong>Price: </strong>@laptop.Price €</p>
                    <p>
                        <strong>Posted On: </strong>@Html.DisplayFor(x => laptop.PostedOn)
                    </p>
                </div>
            </a>
        </div>
    }
</div>

<div align="center">
    @Html.PagedListPager(Model, page => Url.Action("Laptops", new { page }))
</div>